# Ignore TestNG Reports
test-output/
surefire-reports/
target/

# Ignore log files
*.log

# Ignore IDE-related files
.idea/
*.iml
*.classpath
*.project
.settings/

# Ignore macOS junk files
.DS_Store

